html{
    overflow: hidden;
}

body {
    background-color: black;

    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

    margin: 0;

    width: 100vw;
    height: 100vh;


    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;

    overflow: hidden;
}

.center {
    text-align: center;
    
        animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;

    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}

.logo {
    margin-top: 64px;
    height: 72px;
}

.btn{
    display: flex;
    margin-top: 40px;
    margin-left:50px ;
    margin-right:50px ;
    justify-content: space-between;

    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}

.ellipse {
    position: relative;
    border: white solid;
    border-radius: 3000px;
    height: 550px;
    width: 550px;

    
}

p {
    color: white;
    font-size: 28px;
    margin-top: 64px;
}

.p-small {
    color: white;
    font-size: 20px;
    margin: 0;
}

.p-small-kinect {
    color: white;
    font-size: 18px;
    margin: 0;
}

.ellipse-small{
    border: white solid;
    border-radius: 1000px;
    height: 180px;
    width: 180px;
    margin: auto;
    
    margin-top: 500px;
    display: flex;
    justify-content: center;
  align-items: center;
    
  margin-right: -50px;
  margin-left: -50px;

  z-index: 5;
}

.ellipse-small-kinect{
    border: white solid;
    border-radius: 100px;
    height: 180px;
    width: 180px;
    margin: auto;

    
    margin-top: 16px;
    display: flex;
    justify-content: center;
  align-items: center;
    
  margin-right: auto;
  margin-left: auto;

  z-index: 5;
  
}

.video{
    margin-top: 0;
    margin-left:auto ;
    margin-right:auto ;
    align-items: center;

    text-align: center;
   
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}

h2{
    position: relative;
    color: white;
    margin-top: 56px;

    font-weight: 500;
    z-index: 2;
    padding: 1%;
}

video {
    position: relative;
    z-index: -2;
    height: 380px;
    margin: -40px;
    padding-top: 24px;
    padding-bottom: 36px;
    text-align: center;
}
.InButtonV {
    position: relative;
    z-index: -6;
    height: 340px;
    margin: -32px;
    /* padding-top: 24px; */
    /* padding-bottom: 32px; */
    text-align: center;
    transform: translate(-10%, 20%);

    
} 

.Bigvideo {
    position:fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 103vw;
    height: 102vh;
   
    z-index: -4;

    overflow: hidden;

    opacity: 75%;
}


.hide {
    display: none;
}


@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
#StartButton{
    position: relative;
    margin-top: 40%;
    margin-bottom: 40%;
}
#NextButton{
    margin-bottom: 20%;
}

#Last-1 img {
    margin-top: 32px;
    
    height: 510px;
}


.start {
    overflow: visible;
    height: 100vh;
}
